body{
    font-family: inter;
}
.flexcol{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.profile-pic-con{
    width: 88px;
    height: 88px;
    border-radius: 50%;
}
.overlay{
background-color: rgba(79, 75, 75,0.5);
width: 88px;
    height: 88px;
    visibility:hidden;
}
.overlay:hover, .overlay:focus{
    visibility:visible;
}

@media  (max-width: 375px)  {
   .profileName {font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.links{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    background: #EAECF0;
    padding: 24px 0;
    box-shadow:(0px 1px 2px rgba(16, 24, 40, 0.05));
    margin: 0 12px;
}

.linkSection{
    width: 100%;
    gap: 24px;
    padding: 0px 16px;
}
  
}


@media  (min-width: 375px)  {
    .profileName {font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }
    .links{
        text-decoration: none;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        padding: 24px 32px;
        gap: 8px;
        background: #EAECF0;
    }
  
}
.links:hover{
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
}
.links:focus{
    background: #EAECF0;
    border: 1px solid #D0D5DD;
}
.links{
    color: #101828;
    border-radius: 2px;
}