body{
    font-family: inter;
}
.flexcol{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.profile-pic-con{
    width: 88px;
    height: 88px;
    border-radius: 50%;
}
.overlay{
background-color: rgba(79, 75, 75,0.5);
width: 88px;
    height: 88px;
    visibility:hidden;
}
.overlay:hover, .overlay:focus{
    visibility:visible;
}

@media  (max-width: 767px)  {
   .profileName {font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.links{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    background: #EAECF0;
    padding: 24px 0;
    box-shadow:(0px 1px 2px rgba(16, 24, 40, 0.05));
    margin: 0 12px;
    width:94%;
    
}

.linkSection{
    width: 100%;
    gap: 24px;
    padding: 0px 16px;
}
.footer{
    flex-direction: column;
    margin: 32px 0;
    padding: 0 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    gap:32px
}
.zuri{
margin: 24px 0 0;
    width: 140.69px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0
}
.i4g{
    width: 99.1px;
height: 24px;
flex-grow: 0;
}
.pc{
    display:none;
}
.mobile{
    position: absolute;
    right: 5%;
    
}
.linksectioncon{
    padding-top: 64px;
  
}
  
}


@media  (min-width: 767px)  {
    .profileName {font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }
    .mobile{
        display:none;
    }
    .pc{
        position: absolute;
        right: 20%;
        
    }
    .links{ text-decoration: none;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        padding: 24px 32px;
        background: #EAECF0;
        flex: none;
        
    }
    .linkSection{
        padding: 0px 114px;
        gap:24px;
        width: 80%;
        

    }
    .linksectioncon{
        padding: 64px 112px;

    }

    .footer{
        justify-content:space-between;
        margin:48px 112px; 
        font-weight:400; 
        text-align:'center';
        padding:32px 0px 0px;
    }
}
.links:hover{
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
}
.links:focus{
    background: #EAECF0;
    border: 1px solid #D0D5DD;
}
.links{
    color: #101828;
    border-radius: 2px;
}